<healthcheck>
  <jss_url>JSS URL</jss_url>
  <jss_username>JSS User</jss_username>
  <jss_password>JSS Pass</jss_password>
  <mysql_user></mysql_user>
  <mysql_password />
  <configurations>
    <jss_size>
      <up_to_500>
        <db_size>500</db_size>
        <tomcat_mem>2048</tomcat_mem>
        <server_mem>4096</server_mem>
        <checkin />
      </up_to_500>
      <up_to_1000>
        <db_size>1024</db_size>
        <tomcat_mem>4096</tomcat_mem>
        <server_mem>6144</server_mem>
        <checkin />
      </up_to_1000>
      <up_to_2000>
        <db_size>2048</db_size>
        <tomcat_mem>6144</tomcat_mem>
        <server_mem>8192</server_mem>
        <checkin>15</checkin>
      </up_to_2000>
      <up_to_5000>
        <db_size>4096</db_size>
        <tomcat_mem>8192</tomcat_mem>
        <server_mem>12288</server_mem>
        <checkin>30</checkin>
      </up_to_5000>
    </jss_size>
    <smart_groups>
      <criteria_count>6</criteria_count>
    </smart_groups>
    <extension_attributes>
      <computer>10</computer>
      <mobile>10</mobile>
    </extension_attributes>
  </configurations>
</healthcheck>